:host {
  block-size: 5rem;
  border: solid;

  font-size: 2em;
  display: grid;
  place-content: center;

  background-color: hsl(var(--hue, 0), 50%, 50%);
  transition: scale .3s ease;

  >.index {    
    color: white;
  }

  &:hover {
    scale: 1.05;
  }

  &:active {
    scale: .95;
  }
}